@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: black;
}

.banner {
	width:100%;
	margin-bottom: 20px;
}

.navigation {
  margin-bottom: 20px;
}

a.navlink {
  text-decoration: none;
  padding: 5px;
  border: 2px solid gray;
  color: white;
}

.banner a {
  text-decoration: none;
  padding:5px;
  background-color: gray;
  border-top: 5px;
  border-color: white;
  float:left;
}

.banner a:visited {
    color: black;
}

.cube a {
  text-decoration: none;
  margin: auto;
  color: white;
}

.cube {
    color: gray;
    max-width: 80%;
    max-height: 50%;
}

.cube img {
    background: radial-gradient(closest-side, black, #353833, black);
    width: 250px;
 }

.gallery {
  display: -webkit-inline-box;
  width: 95%;
  max-height: 100%;
  flex-wrap: wrap;
  padding: 0 4px;
  color: gray;
}

.column {
  flex: 10%;
  max-width: 18%;
  padding: 0 2px;
  text-align: center;
  white-space: nowrap;
  max-height: 100%;
}

.column img {
  margin-top: 0px;
  max-height: 15%;
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: middle;
  width: 90%;
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .gallery {
    max-width: 100%;
  }
  .column {
    flex: 80%;
    max-width: 100%;
    max-height: 100%;
  }
  .column img {
    max-height: 100%;
    max-width: 100%;
  }
}

.column a {
    color: gray;
}

.column a:hover {
    color: gray;
}

@media (hover: hover) {
  button:hover {
    color: white;
    background-color: green;
    border-color: green;
  }
}

.selector input, select, button {
  background-color: black;
  color: gray;
  display: block;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid #555;
  width: 80%;
  margin: auto;
}

button {
  cursor: pointer;
}

.selector input[type=text]:focus {
  border: 2px solid green;
}

.colorgram {
    margin: 5px;
    position: relative;
}

table {
  white-space: normal;
  width: 100%;
}

table, th, td {
  border: 1px solid gray;
}

table, th, td {
  color: green;
}

.custom-select select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.query {
  max-height: 100%;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  color: gray;
}

#experiment-query {
  background: white;
  display: block;
  width: 100px;
  float: right;
}

.spinner {
  position: absolute;
  display: none;
  bottom: 8px;
  left: 16px;
  height: 50px;
  width: 50px;
}
.spinner img {
  width: 100%;
  height: auto;
}

.status {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: gray;
}

.centered-text {
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
  background-color:white;
}
