@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: black;
}

.banner {
	width:100%;
	margin-bottom: 20px;
}

a.navlink {
  text-decoration: none;
  padding: 5px;
  border: 2px solid gray;
  color: white;
}

a.navlink {
  text-decoration: none;
  padding: 5px;
  border: 2px solid gray;
}

.banner a {
  text-decoration: none;
  padding:5px;
  background-color: gray;
  border-top: 5px;
  border-color: white;
  float:left;
}

.banner a:visited {
    color: black;
}

.cube a {
  text-decoration: none;
  margin: auto;
  color: white;
}

.cube {
    color: gray;
    max-width: 80%;
    max-height: 50%;
}

.cube img {
    background: radial-gradient(closest-side, black, #353833, black);
    width: 250px;
 }

.gallery {
  display: -webkit-inline-box;
  max-height: 100%;
  flex-wrap: wrap;
  padding: 0 4px;
  color: gray;
}

.column {
  flex: 10%;
  max-width: 15%;
  padding: 0 2px;
  text-align: center;
  white-space: nowrap;
  max-height: 100%;
}

.column img {
  margin-top: 0px;
  max-height: 15%;
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: middle;
  width: 90%;
  max-height: 100%;
}

.column a {
    color: gray;
}

.column a:hover {
    color: gray;
}

.column button:hover {
    background-color: green;
}

.selector input, select, button {
  background-color: black;
  color: gray;
  display: block;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid #555;
  width: 80%;
  margin: auto;
}

.selector input[type=text]:focus {
  border: 2px solid green;
}

.colorgram {
    margin: 5px;
}

table {
  white-space: normal;
  width: 100%;
}

table, th, td {
  border: 1px solid gray;
}

table, th, td {
  color: green;
}

.custom-select select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
