<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Computational Synesthesia">
    <title>Computational Synaesthesia</title>
    <meta name="author" content="comp-syn">
    <link rel="icon" type="image/png" href="static/img/favicon.ico">
    <link href="static/css/styles.css" rel="stylesheet">
    <script src="static/js/websocket.js"></script>
    <script src="static/js/forms.js"></script>
  </head>
  <body ontouchstart>
    <div class="navigation">
      <nav class="navbar">
        <a class="navlink" href="/"><span>🏠 home</span></a>
        <a class="navlink" href="/sketch"><span>🗓 sketch</span></a>
      </nav>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
