<html>
 <header>
  <link href="static/css/styles.css" rel="stylesheet"/>
  <link rel="icon"
      type="image/x-icon"
      href="static/img/favicon.ico">
 </header>
 <body>
  <div class="banner">
    <a href="/">🔍</a>
  </div>
  <div class="gallery">
    {% for query in queries %}
      <div class="column">
        {{ query }}
	<br>
        {% for file_name, description in colorgrams[query].items() %}
        <div class="colorgram">
          <a>
              <img src="static/img/colorgrams/{{ experiment }}/{{ file_name }}.png">
	      <p>{{ description }}</p>
	  </a>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
 </body>
</html>
