{% extends "base.html" %}

{% block content %}
<main>
  <div class="banner">
  <div class="query">
    <form action="javascript:drawImageGridFromWebsocket(action='get', values_from=['get', 'experiment'], img_target='colorgram')">
      <input id="get-query" type="text" autofocus autocomplete="off" placeholder="search...">
      <input type="submit" class="ws-submit" id="submit-{{ i }}-{{ j }}" value="Submit">
      <select id="experiment-query">
        <option value="*" selected>*</option>
        {% for experiment_name in experiments.keys() %}
        <option value="{{ experiment_name }}">{{ experiment_name }}</option>
        {% endfor %}
      </select>
    </form> 
  </div>
  </div>
  <div class="gallery" id="gallery-query"></div>
  <div class="sidebar" id="docs-query"></div>
  <div id="spinner" class="spinner"><img src="static/img/load.gif"></div>
  <div class="status" id="search-status"</div>
</main>
{% endblock %}
